@model PortfolioWebApp.Models.User

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Log In</h5>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                <form class="form-signin" method="post">
                    <div class="form-label-group">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Email", autofocus = "" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-label-group">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <input type="submit" class="btn btn btn-info btn-block text-uppercase" value="Log In" />
                    <input type="reset" class="btn btn btn-info btn-block text-uppercase" value="Reset" />

                    <a class="btn btn btn-success btn-block text-uppercase"
                       href="@Url.Action("Register", "Home")">Register</a>

                </form>
                    }
                    </div>
            </div>
        </div>
    </div>
</div>
